
.navbar{
    background-color: rgb(235, 88, 35);
    border-radius: 20px;
    
}

.navbar ul{
    overflow: auto;

}

.navbar li{
    float: left;
    list-style: none;
    padding: 3px 3px;
    margin: 13px 20px;
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}
.navbar li a:hover{
    background-color: rgb(235, 160, 160);
}
.search{
    float: right;
    color: white;
    margin: 0px 10px;
    padding: 15px 60px;
}
.navbar input{
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px 17px;
}
body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 30px;   
}

.upper{
    display: flex;
}

.half-width{
    width: 50%;
    margin: 30px 20px;
    padding: 30px 20px;
}
.resize{
    height: 400px;
    width: 260px;
    margin-left: 140px;
}
.button{
    text-decoration: none;
    color: white;
    background-color: orangered;
    border-radius: 20px;
    padding: 10px 20px;
}
.bg-photo{
    background-image: url(images/shapes/7.png); 
    background-repeat: no-repeat;
}

.singe-element{
    text-align: center;
}
.food-item{
    width: 86%;
    box-shadow: 3px 3px 20px 10px gainsboro;
    margin: 5%;
    padding: 2%;
    border-radius: 15px;
    text-align: justify;
}
.resizer{
    height:200px;
    width: 250px;
}
h3{
    font-size: 20px;
}

h2{
    font-size: 25px;
}

#social-media{
    width: 100%;
    text-align: center;
    display: flex;
    
}
.last{
    width: 30%;
}
.contanct-form{
    text-align: center;
    background-color: rgb(236, 212, 198);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
    
}
footer{

    font-size: 12px;
    color: lightgray;
    background-color: black;
    height: 200px;
    padding-top: 10px;

}
.color{
    color: orangered;
}
#f-header{
    color: lightslategray;}